body {
    background-color: #D6a3DC;
}
h1 {
    font-family: 'Spicy Rice', cursive;
    font-size: 95px;
    color: #F7DB70;
}
h3 {
    font-family: 'Spicy Rice', cursive;
    font-size: 24px;
}
.intro {
    display: block;
    margin: auto;
    width: 960px;
    background-color:#75CCEB;
    margin-top: 50px;
    padding: 30px
}
.game {
    display: block;
    width: 960px;
    margin: auto;
    background-color: #75CCEB;
    /* background-color: #EABEBF;; */
    /* background-color: #A5DEE5; */
    min-height: 300px;
    padding: 30px;
    margin-bottom: 50px;
    font-family: 'Spicy Rice', cursive;
}
#score-display {
    padding-top: 10px;
}